* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

h1 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

header {
    background-color: #F9E0AE;
    height: 124px;
    padding-top: 50px;
}

.header img {
    margin-top: -14px;
}

.header button {
    float: right;
    background-color: #C24914;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    padding: 5px 12px;
    margin-top: -4px;
}

.main-menu {
    float: right;
}

.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}

.main-menu ul li a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

/* Banner */
.banner {
    height: 487px;
}

.banner__left {
    float: left;
    width: 550px;
    padding-top: 76px;
}

.banner__left :nth-child(2){
    margin: 34px 0;
}

.banner__left button{
    border-radius: 10px;
    background: #682C0E;
    color: #fff;
    width: 200px;
    height: 44px;
}

.banner img {
    float: right;
}